body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

.dark-mode {
  background-color: rgb(17, 17, 17);
  color: rgb(247, 245, 245);
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #444;
  padding: 10px;
}

nav ul li:hover > ul {
  display: block;
}

table {
  font-size: 13px; /* Adjust the font size as needed */
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  white-space: normal;
}

#letterOfIntroduction {
  font-family: "Times New Roman", sans-serif
}

.zoom-container {
  overflow: hidden;
  width: 100vw;
  height: 10px;
  /*border: 1px solid #ccc;*/
  position: relative;
  cursor: grab;
}

.zoom-content {
  width: 100vw;
  height: 10px;
  transform-origin: 0 0;
  transition: transform 0.5s ease-out;
  /*cursor: grabbing;*/
}

.indented-paragraph {
  cursor: auto;
  text-indent: 35px; /* You can adjust the value to change the amount of indentation */
}

#content {
    color:black;
    background:white;
    opacity: 1;
    display: block; 
    width: 803px; 
    height: 1132px;
    padding:50px 60px;
}

#content h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
    color: #4f81be;
    letter-spacing: 0.01rem;
    font-family: 'Cambria','Helvetica Roman','Arial', sans-serif;
}

#content h3 {
    margin-top: -20px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #4f81be;
    letter-spacing: 0.02rem;
    font-family: 'Calibri','Arial',sans-serif;
}

#content p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Times New Roman','Arial', sans-serif;
}

#content br {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between; /* Adjust this property for equal spacing */
  margin: 0;
  padding: 0;
}

.element {
  width: 30%; /* Adjust this property to control the width of each element */
  padding: 0 5px;
  box-sizing: border-box;
  margin: 0;
}

.closing {
    margin-top: 5px;
}

.edit-content {
  cursor: auto;
}
